<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/mypage/sale-detail.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
</head>

<body>
<header th:replace="~{fixed/web/header :: header}"></header>

<div class="all">
    <div class="myhome-nav">
        <nav class="page-navigation">
            <ul>
                <li class="page-navigation__item"><a href="/mypage/diary-list">나의 다이어리</a></li>
                <li class="page-navigation__item"><a href="/mypage/my-activities">나의 활동</a></li>
                <li class="page-navigation__item"><a href="/mypage/purchase-list">나의 구매 내역</a></li>
                <li class="page-navigation__item"><a href="/mypage/sale-list" class="active">나의 판매 내역</a></li>
                <li class="page-navigation__item"><a href="/mypage/modify">나의 프로필</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="main-wrap">
        </div>
    </div>
</div>

<footer th:replace="~{fixed/web/footer :: footer}"></footer>

<script src="/js/mypage/sale-detail/module/service.js"></script>
<script src="/js/mypage/sale-detail/module/layout.js"></script>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/js/mypage/sale-detail/event.js"></script>
</body>
</html>
