<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/member/web/forgot-password.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>
    <main class="main-container">
        <div class="main-wrap">
            <div class="certify">
                <div class="form-wrap-desc">
                    가입한 이메일 주소를 입력해주세요.
                </div>
                    <div class="email-input-wrap">
                        <div class="input-wrap">
                            <input type="email" name="email" placeholder="이메일" class="member-email">
                            <button type="button" class="mail-certification" disabled>확인</button>
                        </div>
                        <div class="error-text-wrap">
                            <span>필수 입력 항목입니다.</span>
                        </div>
                    </div>

                    <div class="email-input-wrap code-input-wrap" style="display: none;">
                        <div class="input-wrap">
                            <input type="text" placeholder="인증번호" class="code">
                            <div class="limit-time" style="color:rgb(255, 119, 119)">5:00</div>
                        </div>
                        <div class="error-text-wrap mail-code">
                            <span>인증번호가 다릅니다.</span>
                        </div>
                        <button type="button" class="mail-resend">재전송</button>
                    </div>

                    <button type="button" class="mail-send-btn" disabled>이메일로 인증코드 받기</button>
                    <button type="button" class="mail-send-btn mail-send-check" disabled style="display: none;">인증코드 확인하기</button>
                </div>
                <div id="password">

                </div>
        </div>
    </main>    
</body>
<script src="/js/member/web/forgot-password/module/layout.js"></script>
<script src="/js/member/web/forgot-password/module/service.js"></script>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/member/web/forgot-password/event.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
</html>