@import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";@import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";@font-face {
                        font-family: OhouseIcon;
                        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
                        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
                    }
a {
    color: inherit;
    text-decoration: none;
}

button, input, select, textarea {
    font-size: inherit;
}


input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a *{
    border: none;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
body, html {
    line-height: 1;
    font-family: Pretendard Variable, Noto Sans KR, Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, sans-serif;
    font-size: 13px;
}

footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}


html {
    font-family: 'Pretendard Variable', sans-serif;
    letter-spacing: -0.3px;
    -webkit-font-smoothing: antialiased;
    color: #424242;
    background: #fff;
}

.layout, .page, body, html {
    height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


main.main-container{
    width: 375px;
    height: calc(100% - 120px);
    margin: 40px auto 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}


div.main-wrap{
    position: relative;
    height: 100%;
}
div.form-wrap-desc{
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 20px;
}

div.password-input-wrap{
    position: relative;
    border: 1px solid #dbdbdb;
    padding: 6px 16px;
    margin: 12px 0 28px 0;
}

div.input-wrap{
    display: flex;
    align-items: center;
    height: 31px;
    justify-content: space-between;
}

input.member-password, input.code{
    padding: 0;
    box-shadow: none;
    border: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Pretendard Variable;
    font-size: 15px;
    line-height: 21px;
    transition: border-color .1s, background-color .1s;
    resize: none;
}

button.password-send-btn{
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
    background-color: #647FBC;
    color: white;
    border: 1px solid transparent;
    font-family: Pretendard Variable;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s, background-color .1s, border-color .1s;
    border-radius: 4px;
}
button.mail-certification:disabled,button.password-send-btn:disabled{
    opacity: 0.6;
}

button.password-send-btn{
    width: 100%;
    height: 50px;
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

div.reply-wrap{
    width: 100%;
    height: 72px;
    line-height: 20px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #f7f8fa;
}

a.inquiry-mv-btn{
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}

div.password-input-wrap:hover input.member-password,div.password-input-wrap:hover,div.code-input-wrap:hover input.code{
    background-color : #fafafa;
}

div.password-input-wrap.error{
    color: rgb(255, 119, 119);
    border-color: rgb(255, 119, 119);
}

div.error-text-wrap{
    position: absolute;
    bottom: -20px;
    left: 0px;
    display: none;
    color: rgb(255, 119, 119);
}

div.code-input-wrap{
    width: 70%;
}
