a {
    color: inherit;
    text-decoration: none;
}
a, button:enabled {
    cursor: pointer;
    touch-action: manipulation;
}

button, input, select, textarea {
    font-size: inherit;
}
ul,ol{
    list-style: none;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a *{
    border: none;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
body, html {
    line-height: 1;
    font-family: Pretendard Variable, Noto Sans KR, Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, sans-serif;
    font-size: 13px;
}

footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}


html {
    font-family: 'Pretendard Variable', sans-serif;
    letter-spacing: -0.3px;
    -webkit-font-smoothing: antialiased;
    color: #424242;
    background: #fff;
}

.layout, .page, body, html {
    height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.layout>* {
    flex: 0 0 auto;
}

/*div.sticky-container{*/
/*    height: 51px;*/
/*}*/

div.sticky-wrap{
    background: #FFFFFF;
    border-bottom: 1px solid #EAEDEF;
    position: fixed;
    z-index: 1102;
    transition: top 0.1s;
    top: 0px;
    width: 390px;
}
div.sticky-layout{
    width: 100%;
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    line-height: 0;
}

div.sticky-action-btn{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: -7px;
}

button.list-action-btn{
    display: inline-block;
    border: none;
    background: none;
    font: inherit;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    outline: none;
}
span.menu-list{
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}
span.menu-list::before{
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\ea05";
}
div.sticky-title-wrap{
    position: absolute;
    flex: 0 0 auto;
    left: 50%;
    top: 50%;
    color: #212629;
    transform: translate(-50%, -50%);
}

a.sticky-title-logo{
    border: none;
    background: none;
    font: inherit;
    display: inline-flex;
    align-items: center;
    margin: -4px;
    padding: 4px;
    font-size: 0;
    line-height: 0;
    color: #212629;
    outline: none;
    height: 26px;
}
a.sticky-title-logo h2{
    font-size: 25px;
    height: 100%;
    line-height: 100%;
}

div.sticky-search-wrap{
    margin-right: -7px;
    width: 100%;
    flex: 0 0 auto;
}
div.sticky-search-icon{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
}

button.search-icon{
    display: inline-block;
    border: none;
    background: none;
    font: inherit;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
}
span.search-icon-text{
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}
span.search-icon-text::before{
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\ea4d";
}

div.sticky-sub-container{
    height: -41px;
}
div.layout-navigation-secondary{
    position: fixed;
    z-index: 1101;
    transition: top 0.1s;
    top: -41px;
    width: 390px;
    background: #FFFFFF;
    border-bottom: 1px solid #EAEDEF;
}

div.layout-navigation-secondary.scroll-down{
    top: -41px;
}

div.layout-navigation{
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: auto;
}

div.navigation{
    flex: 1 0 0;
}
nav.navigation-bar{
    height: 40px;
    justify-content: center;
    margin: 0 -2px;
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    white-space: nowrap;
}

nav.navigation-bar > *{
    margin: 0 2px;
}
span.navigation-item{
    height: inherit;
    display: block;
}
div.navigation-item-wrap{
    height: inherit;
}

a.item-link.navigation-item-link{
    padding: 11px 5px;
    margin: 0px;
    border: none;
    font: inherit;
    position: relative;
    display: inline-flex;
    background: none;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    height: inherit;
    outline: none;
}


a.item-link.navigation-item-link::after{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #647FBC;
    transition: transform 0.2s;
    transform: scale(0);
}

a.item-link.navigation-item-link.active::after{
    transform: scale(1);
}

a.item-link.navigation-item-link.active > div > p{
    color: #647FBC;
}

div.link-text{
    padding: 4px;
    margin: -4px;
}
div.link-text > p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    position: relative;
    color: rgb(47, 52, 56);
}

div.search-icon-modal{
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1300;
    background-color: rgba(33, 38, 41, 0.5);
    transition:left 0.5s ease;
    
}



div.search-icon-modal.open{
    left: 0;
    box-shadow: -10px 0 30px rgba(0,0,0,0.5); 
}
div.modal-container{
    position: absolute;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 26px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: env(safe-area-inset-bottom);
}
div.modal-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.global-search-combobox{
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    width: 100%;
}



div.search-input-wrap{
    display: inline-flex;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    height: 40px;
    padding: 0px 14px;
    width: 100%;
}
span.search-input-icon{
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
    padding-right: 6px;
    color: rgb(130, 140, 148);
}
span.search-input-icon::before{
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\ea4d";
}

input.search-input{
    width: 100%;
    box-sizing: border-box;
    flex: 1 0 0%;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
    padding: 0px 6px 0px 0px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    height: 100%;
    color: rgb(47, 52, 56);
    outline: none;
    font-size: 16px;
    line-height: 24px;
}

div.search-input-wrap:has(input.search-input:focus){
    border: 1px solid #647FBC;
    background-color: #F7F9FA;
}

button.search-cancle{
    cursor: pointer;
    touch-action: manipulation;
    display: inline-block;
    margin: 0px 0px 0px 15px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    flex-shrink: 0;
    padding: 9px 5px 10px;
    color: rgb(47, 52, 56);
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline: none;
}
button.search-cancle> span{
    display: inline-block;
    margin: -4px;
    padding: 4px;
    border-radius: 2px;
}
div.menu-list-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150%;
    height: 100%;
    text-align: center;
    z-index: 1300;
    transform: translateX(-100%);
    background-color: rgba(33, 38, 41, 0);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

div.menu-list-modal.open{
    transform: translateX(0);
    background-color: rgba(33, 38, 41, 0.5);
}
div.menu-list-modal-container{
    position: absolute;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 270px;
    height: 100%;
    padding: 26px 16px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    text-align: left;
}
div.menu-list-img-wrap{
    position: relative;
    font-size: 14px;
    line-height: 18px;
}

a.menu-list-logo-link{
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: -4px;
    padding: 4px;
    font-size: 0px;
    line-height: 0;
    color: rgb(33, 38, 41);
    outline: none;
}
a.menu-list-logo-link > img{
    width: 71px;
    height: 71px;
}
div.login-profile-wrap{
    display: flex;
    align-items: center;
    margin: 24px 0px 20px;
}
div.login-profile-wrap > img{
    object-fit: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div.login-profile-wrap > p{
        font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
}

hr.menu-hr{
    padding: 0px;
    height: 1px;
    border: none;
    background-color: rgb(234, 237, 239);
    margin: 20px 0px;
}
ul.mv-link-list{
    padding: 0px;
}
li.menu-item-wrap{
    margin: 4px 0px 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(47, 52, 56);
}

button.menu-item-btn{
    border: none;
    background: none;
    font: inherit;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px 40px 0px 14px;
    color: inherit;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
}

div.button-text-wrap{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
}
span.btn-icon{
        display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
}
span.img-icon{
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}

span.menu-arrow{
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: 14px;
    right: 14px;
    color: rgb(47, 52, 56);
}
span.menu-arrow::before {
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\e96c";
    
}
span.menu-arrow.active::before {
    content: "\e978";
}

div.menu-list-detail{
    height: 0px;
    transition: height 0.3s;
    overflow: hidden;
}

div.menu-list-detail.active{
    height: 172px;
}
li.detail-link-item{
    margin: 4px 0px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(47, 52, 56);
}
a.link-component{
    margin: 0px;
    border: none;
    background: none;
    font: inherit;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 14px 0px 42px;
    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
}

div.link-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
}
li.sub-menu-item{
    margin: 4px 0px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(47, 52, 56);
}
a.sub-menu-link{
    margin: 0px;
    border: none;
    background: none;
    font: inherit;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 14px;
    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
}

div.sub-menu-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1;
}

ul.footer{
    padding: 0px;
    margin-top: 14px;
    display: flex;
    align-items: center;
}
ul.footer > li {
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    margin: 0px 0px 0px 7px;
    line-height: 18px;
}

a.logout-menu-footer{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    color: rgb(47, 52, 56);
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
}
div.login-logout-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 10px;
}

a.login-btn-wrap{
    margin: 0px;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    width: auto;
    border-radius: 4px;
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: center;
    color: #647FBC;
    border: 1px solid #647FBC;
    font-weight: bold;
    outline: none;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 42px;
}
a.join-btn-wrap{
    margin: 0px 0px 0px 8px;
    border: none;
    background: none #647FBC;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    width: auto;
    height: 44px;
    border-radius: 4px;
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    outline: none;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
}

.sticky-action-btn a {
    width: 10px;
    margin-left: 8px;
    transform: rotate(180deg);
    display: block;
}

.gallery__right-arrow{
    width: 10px;
}