<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/member/mobile/reset-password-success.css">
    <link rel="stylesheet" href="/css/fixed/mobile/header.css">
</head>
<body>
<header th:replace="~{fixed/mobile/header :: header}"></header>
    <main class="main-container">
        <div class="main-wrap">
            <h2>비밀번호가 정상적으로 변경되었습니다.</h2>
            <p>Crew Station을 이용해 보세요.</p>
            <div class="btn-wrap">
                <a th:href="@{/mobile/login}">
                    <button class="login-btn success-btn">로그인</button>
                </a>
                <a th:href="@{/}">
                    <button class="home-btn success-btn">홈</button>
                </a>
            </div>
        </div>
    </main>
</body>
<script src="/js/fixed/mobile/header/module/service.js"></script>
<script src="/js/fixed/mobile/header/event.js"></script>
</html>