<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/crew/long-detail.css">
    <link rel="shortcut icon" href="../../static/images/crew-station-favicon.png" type="image/x-icon">
</head>
<body>
    <div id="__next">
        <div class="page">
            <div class="page-container">
                <div class="page-wrapper">
                    <div class="page-wrap">
                        <div class="page-title">
                            <div class="post-title">
                                <!-- 배지 전용 래퍼 추가 -->
                                <div class="badge-row">
                                    <div class="short-crew-list">
                                    <span class="short-crew-text">숏크루</span>
                                    </div>
                                    <span class="age-badge">20대</span>
                                </div>
                                <div class="title-container">
                                    <h1 class="title">여행 모집 공고🔥
                                        <div class="top-bar-btn-container">
                                            <div class="top-bar-btn-wrapper">
                                                <div class="top-bar-btn-left">
                                                    <div class="top-bar-btn-first">
                                                        <button type="button" class="new-crew-open">
                                                            <span class="new-crew">신청</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h1>
                                </div>
                                <div class="profile-container">
                                    <a href="" class="profile-wrapper">
                                        <div class="profile-img" size="40">
                                            <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=72" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=108 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=144 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=216 3x" alt="아바타 사진" class="css-1jjjg2j" aria-label="avatar" style="width: 100%; height: 100%; border-radius: 50%;">
                                        </div>
                                        <span class="profile-info">
                                            <span class="nickname">__d.house</span>
                                            <span class="profile-content">활발한 여행가</span>
                                        </span>
                                    </a>
                                    <!-- 우측 링크 버튼 -->
                                    <div style="position: relative;">
                                        <div class="right-menu-wrapper">
                                            
                                            <button title="공유" class="menu-share-container">
                                                <span class="menu-reply-wrapper">
                                                    <span class="_share_24 menu-comment"></span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content-container">
                                <span class="post-content">
                                    <span>
                                        영국 여행 같이 가실 분 구해요!
                                        <br>
                                        9월 20일부터 5박 7일 일정입니다.
                                        <br>
                                    </span>
                                </span>
                            </div>
                            <div class="post-img-container">
                                <div class="post-imgs">
                                  <div class="post-img">
                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=1440" alt="">
                                  </div>
                                  <div class="post-img">
                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=1440" alt="">
                                  </div>
                                  <div class="post-img">
                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=1440" alt="">
                                  </div>
                                </div>
                              
                                <!-- 양쪽 화살표 -->
                                <button class="arrow-btn left" type="button"></button>
                                <button class="arrow-btn right" type="button"></button>

                              
                                <!-- 페이지 표시 -->
                                <div class="page-indicator">
                                  <span id="current">1</span> / <span id="total">3</span>
                                </div>
                              </div>
                              
                            <div>
                                <div class="post-info-container">
                                    <dl class="post-info">
                                        <span class="post-time">
                                            18시간
                                        </span>
                                        <dt class="post-read">
                                            조회
                                        </dt>
                                        <dd class="post-read-count">419</dd>
                                    </dl>
                                    <div class="report-container">
                                        <button type="button" class="reply-report-button">신고하기</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="wp_tg_cts" style="display: none;"></div>
        <div>
            <div class="report-modal">
                <div class="modal-container">
                    <div class="modal-header">
                        <span class="modal-title">
                            신고 사유를 선택해주세요
                        </span>
                        <button class="close-button">
                            <span class="close-button-span"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="report-content-container">
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button active">
                                        <input type="radio" name="주제" class="radio">
                                    </div>
                                    <span class="content">주제에 맞지 않아요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="정보" class="radio">
                                    </div>
                                    <span class="content">정보가 부정확해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="광고" class="radio">
                                    </div>
                                    <span class="content">지나치게 광고를 해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="도배" class="radio">
                                    </div>
                                    <span class="content">이 글로 도배가 돼있어요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="저작권" class="radio">
                                    </div>
                                    <span class="content">저작권 침해가 우려돼요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="명예" class="radio">
                                    </div>
                                    <span class="content">명예를 훼손하는 내용이에요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="욕설" class="radio">
                                    </div>
                                    <span class="content">욕설이나 비방이 심해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="외설" class="radio">
                                    </div>
                                    <span class="content">외설적인 내용이 포함돼있어요</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-button">
                        <div class="modal-button-wrap">
                            <button class="report-button-send">신고하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast">
            <div class="toast-wrap">
                <p class="toast-text">클립보드에 복사되었습니다.</p>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/crew/long-detail/event.js"></script>
</html>