<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/mypage/my-diary/detail.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>

    <div class="content-container">
        <div class="content">
            <div class="content-wrap">
                <div class="crew-label-wrap">
                    <!-- 크루 이름 -->
                    <span class="crew-label">프랑스</span>
                    <div class="update">
                        <!-- 본인일 때 -->
                        <button class="update-button">수정</button>
                        <span class="bar">|</span>
                        <button class="remove-button">삭제</button>
                        <!-- 본인 아닐때 -->
                        <!-- <button class="detail-report-button detail-btn">
                                <span class="reprot-text">신고하기</span>
                        </button> -->
                    </div>
                </div>
                <!-- 제목 -->
                <div class="title">
                    <h1>어디 어디 갔다온 날</h1>
                </div>
                <!-- 프로필 -->
                <div class="profile-container">
                    <a class="profile-a">
                        <div class="profile-img">
                            <img src="/static/images/crew-station-icon-profile.png">
                        </div>
                        <span id="name">CREW_STATION</span>
                    </a>
                    <div class="lock hidden">
                        <img src="/static/images/lock.png" class="lock-img">
                        <span class="secret-title">비공개 중</span>
                    </div>
                    <div class="unlock">
                        <img src="/static/images/unlock.png" class="lock-img">
                        <span class="secret-title">공개 중</span>
                    </div>
                    <div class="secret">
                        <div class="secret-toggle">
                            <input type="checkbox" class="secret-checkbox">
                        </div>
                    </div>
                </div>
                <!-- 내용 -->
                <div class="diary-content">
                    <span class="diary-content-text">
                        <span>
                            <div id="target1" class="target">오늘은 어디 어디 갔다왔다!</div>
                            <br>
                            <div id="target2" class="target">너무 재미있었다~</div>
                            <br>
                            <div id="target3" class="target">다음에 또 가고 싶다</div>
                        </span>
                    </span>
                </div>
                <div class="images-container">
                    <div class="images-wrap">
                        <div class="images">
                            <div class="images-inner">
                                <div class="image-items">
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img class="diary-img" src="/static/images/diary-list-ex.jpeg">
                                            </a>
                                            <div class="mention">
                                                <div class="mention-container">
                                                    <button class="mention-button">
                                                        <span class="mention-span"></span>
                                                    </button>
                                                </div>
                                                <div class="mention-window">
                                                    <div class="triangle"></div>
                                                    <div class="mention-profile">
                                                        <a class="profile-a">
                                                            <div class="mention-profile-img">
                                                                <img src="/static/images/crew-station-icon-profile.png">
                                                            </div>
                                                            <span id="mention-name">CREW2</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img class="diary-img" src="/static/images/diary-list-ex2.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img class="diary-img" src="/static/images/diary-list-ex3.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div class="diary-footer-container">
                                <div class="view-container">
                                    <span class="view">2시간</span>
                                    <dt class="view">좋아요 30</dt>
                                    <dt class="view">조회 78</dt>
                                </div>
                            </div>
                            <section class="reply-container">
                                <div class="reply-container-header">
                                    <h2 class="reply-container-title">
                                        댓글 
                                        <span class="total">2</span>
                                    </h2>
                                </div>
                                <div class="comment-input-wrap">
                                    <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/default_images/avatar.png?w=256&h=256&c=c">
                                    <div class="comment-input">
                                        <div class="comment-input-inner">
                                            <div class="input-inner">
                                                <input class="input" placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다:)" type="text">
                                                <div class="enter">
                                                    <button class="enter-button">입력</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reply">
                                    <div class="reply-item">
                                        <div class="profile-image">
                                            <img src="/static/images/lock.png" class="reply-profile-img">
                                        </div>
                                        <div class="reply-content">
                                            <div class="reply-name">
                                                <div class="name-text">crew1</div>
                                            </div>
                                            <div style="display: flex;">
                                                <div class="reply-content-text">우와 너무 좋아보여요~!</div>
                                            </div>
                                            <div class="reply-like">
                                                <div class="time">45분</div>
                                                <!-- 본인일때 x -->
                                                <div class="report-container">
                                                    <div class="point">・</div>
                                                    <button class="detail-report-button reply-button">신고하기</button>
                                                </div>
                                                <!-- 본인 댓글만 -->
                                                 <div class="report-container">
                                                    <div class="point">・</div>
                                                    <button class="modify-reply-button reply-button">수정</button>
                                                </div>
                                                <div class="report-container">
                                                    <div class="point">・</div>
                                                    <button class="remove-reply-button reply-button">삭제</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 댓글 없으면 아예 없애기 -->
                                <div class="pageing-contianer">
                                    <button class="prev-next-button prev-button" disabled>
                                        <span class="prev-next prev"></span>
                                    </button>
                                    <button class="active number-button">1</button>
                                    <button class="number-button">2</button>
                                    <button class="prev-next-button next-button active">
                                        <span class="prev-next next"></span>
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-menu">
                <div class="sticky-container">
                    <div style="position: relative;">
                        <div class="sticky-wrap">
                            <button class="sticky-like-button">
                                <span class="like-icon">
                                    <span class="like-before"></span>
                                </span>
                                <span class="like-total">1</span>
                            </button>
                            <hr class="hr">
                            <button class="go-reply">
                                <span class="go-reply-icon">
                                    <span class="go-reply-icon-span"></span>
                                </span>
                                <span class="like-total">11</span>
                            </button>
                            <button class="sticky-share-button">
                                <span class="go-share-icon">
                                    <span class="go-share-icon-span"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="report-modal">
            <div class="modal-container">
                <div class="modal-header">
                    <span class="modal-title">
                        신고 사유를 선택해주세요
                    </span>
                    <button class="close-button">
                        <span class="close-button-span"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="report-content-container">
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button active">
                                    <input type="radio" name="주제" class="radio">
                                </div>
                                <span class="content">주제에 맞지 않아요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="정보" class="radio">
                                </div>
                                <span class="content">정보가 부정확해요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="광고" class="radio">
                                </div>
                                <span class="content">지나치게 광고를 해요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="도배" class="radio">
                                </div>
                                <span class="content">이 글로 도배가 돼있어요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="저작권" class="radio">
                                </div>
                                <span class="content">저작권 침해가 우려돼요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="명예" class="radio">
                                </div>
                                <span class="content">명예를 훼손하는 내용이에요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="욕설" class="radio">
                                </div>
                                <span class="content">욕설이나 비방이 심해요</span>
                            </label>
                        </li>
                        <li class="report-content">
                            <label for="report" class="content-label">
                                <div class="radio-button">
                                    <input type="radio" name="외설" class="radio">
                                </div>
                                <span class="content">외설적인 내용이 포함돼있어요</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="modal-button">
                    <div class="modal-button-wrap">
                        <button class="report-button-send">신고하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-modal" style="display:none;">
            <div class="img-modal-container">
                <button class="img-close-button">
                <span class="close-button-span"></span>
                </button>
                <img src="" alt="modal image">
            </div>
        </div>
        <div style="position: relative; z-index: 11;">
            <div class="remove-modal">
                <div class="remove-modal-win">
                    <div class="remove-head">
                    <p class="head-text">댓글을 삭제하시겠습니까? 삭제한 댓글은 되돌릴 수 없습니다.</p>
                    </div>
                    <div class="remove-buttons-wrap">
                        <div class="remove-buttons">
                            <button class="remove-no modal-reply-button">취소</button>
                            <button class="remove-ok">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative; z-index: 11;">
            <div class="diary-remove-modal">
                <div class="remove-modal-win">
                    <div class="remove-head">
                    <p class="head-text">일기를 삭제하시겠습니까? 삭제한 일기는 되돌릴 수 없습니다.</p>
                    </div>
                    <div class="remove-buttons-wrap">
                        <div class="remove-buttons">
                            <button class="remove-no modal-reply-button">취소</button>
                            <button class="remove-ok">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast hide" style="display: none;">
        <div class="toast-wrap">
            <p class="toast-text">클립보드에 복사되었습니다.</p>
        </div>
    </div>
<footer th:replace="~{fixed/web/footer :: footer}"></footer>

</body>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/static/js/mypage/my-diary/detail/event.js"></script>
</html>