<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/mypage/my-diary/list.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item"><a href="/mypage/diary-list" class="active">나의 다이어리</a></li>
                    <li class="page-navigation__item"><a href="/mypage/my-activities">나의 활동</a></li>
                    <li class="page-navigation__item"><a href="/mypage/purchase-list">나의 구매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/sale-list">나의 판매 내역</a></li>
                    <li class="page-navigation__item"><a href="/mypage/modify">나의 프로필</a></li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="header">
                <div class="title">
                    <p class="title-p">나의 다이어리</p>
                    <div class="share-button">
                        <div class="drop-down">
                            <a href="/diaries/write" class="share-button-style">
                                <span class="share-text">다이어리 작성하기</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile-wrap">
                    <a href="">
                        <img class="profile-img" src="/static/images/crew-station-icon-profile.png">
                        <span class="profile-name">CREW_STATION</span>
                    </a>
                </div>
            </div>
            <div class="m-sticky-container">
                <div style="position: relative;">
                    <div class="nav-wrap">
                        <nav>
                            <button class="nav-button active">
                                <div class="p-wrap">
                                    <p class="tag-name">전체(0)</p>
                                </div>
                            </button>
                        </nav>
                        <hr class="nav-hr">
                    </div>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-footer">
<!--                        <div class="update">-->
<!--                            <span class="total">-->
<!--                                <span class="check-number">0 </span>-->
<!--                                / -->
<!--                                <span class="total-number"> 5</span>-->
<!--                            </span>-->
<!--                            <div class="button-wrap">-->
<!--                                <button class="update-button">-->
<!--                                    편집-->
<!--                                </button>-->
<!--                                <div class="update-div">-->
<!--                                    <button class="remove" disabled>삭제</button>-->
<!--                                    <button class="cancle">취소</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="diary-container">
                <div class="diary-container-inner">
                </div>
            </div>
        </main>
    </div>
    <div class="toast hide" style="display: none;">
        <div class="toast-wrap">
            <p class="toast-text">클립보드에 복사되었습니다.</p>
        </div>
    </div>
<footer th:replace="~{fixed/web/footer :: footer}"></footer>

</body>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/js/mypage/my-diary/list/module/service.js"></script>
<script src="/js/mypage/my-diary/list/module/layout.js"></script>
<script src="/js/mypage/my-diary/list/event.js"></script>
</html>