<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/fixed/mobile/header.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="sticky-container">
            <div class="sticky-wrap">
                <div class="sticky-layout">
                    <div class="sticky-action-btn">
                            <a>
                                <svg class="gallery__right-arrow" viewBox="0 0 8 14" preserveAspectRatio="xMidYMid meet"><g fill="currentcolor" fill-rule="evenodd" transform="translate(-4 -1)"><path d="M4 13.1L9 8 4 2.9l1.5-1.6L12 8l-6.5 6.7z"></path></g></svg>
                            </a>
                        <div class="sticky-search-wrap">
                            <div class="sticky-search-icon">
                                <div>
                                    <button class="list-action-btn">
                                        <span class="menu-list"></span>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="search-icon">
                                    <span class="search-icon-text">

                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sticky-title-wrap">
                        <a class="sticky-title-logo" href="/gifts"><h2>Crew Station</h2></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="sticky-container sticky-sub-container crew">
            <div class="layout-navigation-secondary crew sub">
                <div class="layout-navigation">
                    <div class="navigation">
                        <nav class="navigation-bar">
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link">
                                        <div class="link-text">
                                            <p>전체</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link active">
                                        <div class="link-text">
                                            <p>크루목록</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link">
                                        <div class="link-text">
                                            <p>롱크루</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link">
                                        <div class="link-text">
                                            <p>숏크루</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-container sticky-sub-container diary">
            <div class="layout-navigation-secondary diary sub">
                <div class="layout-navigation">
                    <div class="navigation">
                        <nav class="navigation-bar">
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link active">
                                        <div class="link-text">
                                            <p>전체</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link">
                                        <div class="link-text">
                                            <p>크루</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="navigation-item">
                                <div class="navigation-item-wrap">
                                    <a class="item-link navigation-item-link">
                                        <div class="link-text">
                                            <p>개인</p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-icon-modal">
            <div class="modal-container">
                <div class="modal-wrap">
                    <form>
                        <div class="global-search-combobox">
                            <div class="search-input-wrap">
                                <span class="search-input-icon"></span>
                                <input type="text" placeholder="통합검색" class="search-input">

                            </div>
                            <button type="button" class="search-cancle"><span>취소</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="menu-list-modal">
            <div class="menu-list-modal-container">
                <div class="menu-list-img-wrap">
                    <a class="menu-list-logo-link">
                        <img src="/images/crew-station-favicon.png" alt="">
                    </a>
                </div>
                <!-- 로그인 시 -->
                <div class="login-profile-wrap">
                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-407986022924352.jpg?w=512&h=684&c=c" alt="">
                    <p>유저 이름</p>
                </div>
                <!-- 로그인 시 -->
                <!-- 비 로그인 -->
                <div class="login-logout-container">
                    <a href="/mobile/login" class="login-btn-wrap">로그인</a>
                    <a href="/mobile/join" class="join-btn-wrap">회원가입</a>
                </div>
                <!-- 비 로그인 -->
                <hr class="menu-hr">

                <ul class="mv-link-list">
                    <li class="menu-item-wrap">
<!--                        <button type="button" class="menu-item-btn crew">-->
<!--                            <div class="button-text-wrap">-->
<!--                                <span class="btn-icon">-->
<!--                                    <span class="img-icon">-->

<!--                                    </span>-->
<!--                                </span>-->
<!--                                크루-->
<!--                            </div>-->
<!--                            <span class="menu-arrow"></span>-->
<!--                        </button>-->
<!--                        <div class="menu-list-detail menu-list-crew">-->
<!--                            <ul class="mv-link-list">-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">전체</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">크루목록</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">롱크루</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">숏크루</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </li>
                    <li class="menu-item-wrap">
                        <button type="button" class="menu-item-btn diary">
                            <div class="button-text-wrap">
                                <span class="btn-icon">
                                    <span class="img-icon">

                                    </span>
                                </span>
                                다이어리
                            </div>
<!--                            <span class="menu-arrow"></span>-->
                        </button>
<!--                        <div class="menu-list-detail menu-list-diary">-->
<!--                            <ul class="mv-link-list">-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">전체</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">크루</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="detail-link-item">-->
<!--                                    <a class="link-component">-->
<!--                                        <div class="link-text">개인</div>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </li>
                    <li class="menu-item-wrap">
                        <button type="button" class="menu-item-btn gift" style="background-color: rgb(247,249,250);"  onclick="location.href=/gifts">
                            <div class="button-text-wrap">
                                <span class="btn-icon">
                                    <span class="img-icon">

                                    </span>
                                </span>
                                기프트
                            </div>

                        </button>
                        
                    </li>
                    <li class="menu-item-wrap">
                        <button type="button" class="menu-item-btn notice" onclick="location.href="/notice/notice"">
                            <div class="button-text-wrap">
                                <span class="btn-icon">
                                    <span class="img-icon">

                                    </span>
                                </span>
                                공지사항
                            </div>
                        
                        </button>
                        
                    </li>
                </ul>
                <hr class="menu-hr">
                <ul class="mv-link-list">
                    <li class="sub-menu-item">
                        <a class="sub-menu-link">
                            <div class="sub-menu-text">
                                마이페이지
                            </div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a class="sub-menu-link">
                            <div class="sub-menu-text">
                                알림
                            </div>
                        </a>
                    </li>
<!--                    <li class="sub-menu-item">-->
<!--                        <a class="sub-menu-link">-->
<!--                            <div class="sub-menu-text">-->
<!--                                크루 구하기-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="sub-menu-item">-->
<!--                        <a class="sub-menu-link">-->
<!--                            <div class="sub-menu-text">-->
<!--                                크루 만들기-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="sub-menu-item">
                        <a class="sub-menu-link">
                            <div class="sub-menu-text">
                                다이어리
                            </div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/gifts/write" class="sub-menu-link">
                            <div class="sub-menu-text">
                                기프트 등록
                            </div>
                        </a>
                    </li>
                    
                </ul>
                <hr class="menu-hr">
                <ul class="footer">
                    <li><a href="/member/login" class="logout-menu-footer">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="" style="width:100%;height:1000px;" ></div>
</body>
<script src="/js/fixed/mobile/header/module/service.js"></script>
<script src="/js/fixed/mobile/header/event.js"></script>
</html>
