<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.member.MemberFileMapper">
    <insert id="insert">
        insert into tbl_member_file (file_id, member_id)
        values (#{fileId}, #{memberId})
    </insert>
    <select id="all">
        select * from tbl_member_file
    </select>

    <!-- 멤버 <-> 파일 연결 관계 삭제 -->
    <delete id="deleteMemberFile">
        DELETE FROM tbl_member_file
        WHERE member_id = #{memberId} AND file_id = #{fileId}
    </delete>

</mapper>