<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main-page/alarm.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>
<div class="page">
    <div class="layout">
        <main class="main-container">
            <h1 class="alarm-title">내 소식</h1>

            <!-- 빈 값 -->
            <div class="alarm-container" th:if="${#lists.isEmpty(alarms)}">
                <p class="alarm-empty">최근 내 소식이 없습니다.</p>
            </div>

            <!-- 존재 -->
            <div class="alarm-container" th:if="${!#lists.isEmpty(alarms)}">
                <div class="alarm-wrap"
                     th:each="alarm : ${alarms}"
                     th:classappend="${alarm.readStatus.name() == 'UNREAD'} ? ' unread' : ' read'">
                    <a href="#" class="user-profile-link">
                        <img src="/images/crew-station-favicon.png" alt="">
                    </a>
                    <a href="#" class="alarm-content-link"
                       th:attr="data-id=${alarm.id}, data-type='default'">
                        <div class="alarm-content-link-wrap">
                                <span class="alarm-content">
                                    새로운 알림이 도착했어요!
                                </span>
                            <span class="alarm-date"
                                  th:text="${alarm.createdDatetime}">
                                    1분 전
                                </span>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<script src="/js/main-page/alarm/layout.js"></script>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
</html>
