<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main-page/company-info.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
</head>
<body>

    <main class="index-page">
        <div class="scroll" style="transform: translateY(0px);">
        <div class="index-page-info-first">
            <div class="index-page-container">
                <div class="slide-up">
                    <h1 class="index-page-title">'이렇게 살아보고 싶다'는<br>전 세계 사람들의 꿈을 현실로 만듭니다</h1>
                </div>
                <div class="slide-up">
                    <p class="index-page-sub-title">꿈꿔왔던 시간을 공간에 담는 여정.<br>우리는 라이프스타일을 이렇게 정의합니다.<br><br>나의 취향을 발견하고, 좋아하는 것들로 일상을 채우는 것은<br class="pc-line-break">삶을 더 풍요롭고 의미 있게 만드는 것과 같기 때문입니다.<br><br><strong>Crew Station</strong>은 자신의 취향을 가진 커뮤니티 유저들과 함께<br class="pc-line-break">영감을 발산하는 콘텐츠와 여행을 특별한 경험으로 확장하며<br class="pc-line-break">각자가 원하는 여행스타일을 쉽게, 편하게, 즐겁게 만들어가도록 돕습니다.</p>
                </div>
            </div>
            <div class="slide-up image-slide-up">
                <div class="marquee-index-page">
                    <div class="marquee-images-wrap">
                        <div class="marquee-images-wrap-lists">
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/1.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/2.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/3.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/4.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/5.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/6.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/7.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/8.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/9.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/10.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                        </div>
                        <div class="marquee-images-wrap-lists">
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/11.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/12.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/13.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/14.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/15.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/16.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/17.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/18.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/19.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                            <div class="index-page-marqueeimages-item">
                                <picture>
                                    <img src="/images/company-info-images/20.jpeg" alt="" class="index-page-marquee-images-item-img">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-page-info crew">
            <div class="index-page-info-container">
                <div class="index-page-info-wrap crew">
                    <p class="index-page-info-title crew"><strong>Crew Station</strong>으로 <br>크루를 만들어서 함께 여행 다녀보세요.</p>
                    <div class="crew index-page-info-count index-page-info-count-crew">
                        <div class="index-page-info-count-item">
                            <div class="slide-up crew">
                                <div class="index-page-info-count-item-title">
                                    크루란?
                                </div>
                                <span class="index-page-info-count-item-text">같은 길을 함께 걷는 동행입니다. <br>낯선 여행지도 함께라면 특별해집니다.<br>취향이 닮은 사람들과 새로운 기억을 만들어 보세요.</span>
                            </div>
                        </div>    
                        <div class="index-page-info-count-item">
                            <div class="slide-up crew">
                                <div class="index-page-info-count-item-title">
                                    실명제 기반 시스템
                                </div>
                                <span class="index-page-info-count-item-text">안전하고 신뢰할 수 있는 만남을 보장합니다. <br>가볍게 준비하고, 안심하며 함께 떠나세요.</span>
                            </div>
                        </div>  
                        <div class="index-page-info-count-item">
                            <div class="slide-up crew">
                                <div class="index-page-info-count-item-title">
                                    준비는 가볍게, 경험은 풍성하게
                                </div>
                                <span class="index-page-info-count-item-text">크루와 함께라면 필요한 준비를 나누고 새로운 인연도 만날 수 있습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index-page-img-wrap">
                    <div class="index-page-info-crew-img slide-up img-tag">
                        <img src="/images/company-info-images/service1.png" alt="" style="width: 299px;height: auto;">
                    </div>
                    <div class="index-page-info-crew-img slide-up img-tag">
                        <img src="/images/company-info-images/service2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="index-page-info diary">
            <div class="index-page-info-container">
                <div class="index-page-img-wrap">
                    <div class="index-page-info-diary-img slide-up img-tag">
                        <img src="/images/company-info-images/service1.png" alt="">
                    </div>
                    <div class="index-page-info-diary-img slide-up img-tag">
                        <img src="/images/company-info-images/service2.png" alt="">
                    </div>
                </div>
                <div class="index-page-info-wrap diary">
                    <p class="index-page-info-title diary"><strong>Crew Station</strong>은 다이어리 서비스를<br>통해 전 세계 사람들의 여행 스타일을<br>공유해 보세요.</p>
                    <div class="diary index-page-info-count index-page-info-count-diary">
                        <div class="index-page-info-count-item diary">
                            <div class="slide-up diary">
                                <div class="index-page-info-count-item-title">
                                    영감을 담은 한 편의 콘텐츠 여행
                                </div>
                                <span class="index-page-info-count-item-text">다이어리로부터 특별한 경험, 새로운 정보까지 <br>다양한 여행을 채워나가는 유저들의 생생한 <br>여행들이 모여 다른 사람들의 영감이 됩니다.</span>
                            </div>
                        </div>    
                        <div class="index-page-info-count-item">
                            <div class="slide-up diary">
                                <div class="index-page-info-count-item-title">
                                    나의 여행일정을 한 눈에
                                </div>
                                <span class="index-page-info-count-item-text">나의 발자취가 모여 하나의 여정이 되고,<br>그 여정이 또 다른 설렘을 부르고,<br>누군가의 여행을 시작하게 합니다.</span>
                            </div>
                        </div>  
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="index-page-info gift">
            <div class="index-page-info-container">
                <div class="index-page-info-wrap gift">
                    <p class="index-page-info-title crew"><strong>Crew Station</strong>으로 <br>간접적으로 해외 여행 느낌을 내보세요.</p>
                    <div class="gift index-page-info-count index-page-info-count-gift">
                        <div class="index-page-info-count-item">
                            <div class="slide-up gift">
                                <div class="index-page-info-count-item-title">
                                    기프트
                                </div>
                                <span class="index-page-info-count-item-text">해외여행 중 눈에 띈 소소하고 특별한 아이템을 사고 팔 수 있는 공간입니다.</span>
                            </div>
                        </div>    
                        <div class="index-page-info-count-item">
                            <div class="slide-up gift">
                                <div class="index-page-info-count-item-title">
                                    케미지수 시스템
                                </div>
                                <span class="index-page-info-count-item-text">안전하고 신뢰할 수 있는 거래를 보장합니다. <br>복잡한 절차 없이, 가볍게 사고 바로 즐기세요.</span>
                            </div>
                        </div>  
                        <div class="index-page-info-count-item">
                            <div class="slide-up gift">
                                <div class="index-page-info-count-item-title">
                                    간편한 경험, 특별한 순간
                                </div>
                                <span class="index-page-info-count-item-text">여행 중 발견한 아이템을 공유하고 원하는 사람에게 바로 전달하며 새로운 연결도 만들 수 있습니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index-page-img-wrap">
                    <div class="index-page-info-gift-img slide-up img-tag">
                        <img src="/images/company-info-images/service9.png" alt="" style="width: 249px;height: auto;">
                    </div>
                    <div class="index-page-info-gift-img slide-up img-tag">
                        <img src="/images/company-info-images/service10.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div class="pagination-container">
        <nav class="pagination-wrap">
            <ul class="pagination-dolist">
                <li class="pagination-dolist-item active">
                    <button type="button" class="bar first">
                        
                    </button>
                </li>
                <li class="pagination-dolist-item ">
                    <button type="button" class="bar second">

                    </button>
                </li>
                <li class="pagination-dolist-item">
                    <button type="button" class="bar third">
                        
                    </button>
                </li>
                <li class="pagination-dolist-item">
                    <button type="button" class="bar four">
                        
                    </button>
                </li>
            </ul>
            <div class="nav-modal">
                <div class="nav-detail-pagination-btn active">
                    소개
                </div>
                <div class="nav-detail-pagination-btn">
                    크루
                </div>
                <div class="nav-detail-pagination-btn">
                    다이어리
                </div>
                <div class="nav-detail-pagination-btn">
                    기프트
                </div>
            </div>
        </nav>
    </div>
    <a href="/" class="home-btn">Crew Station으로</a>
</body>
<script src="/js/main-page/company-info/event.js"></script>
</html>