<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main-page/main.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
    <link rel="shortcut icon" href="/images/crew-station-favicon.png" type="image/x-icon">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>
    <div class="page">
        <div class="page-container">
            <div class="layout">
                <main class="main-container">
                    <!-- 배너 시작 부분 -->
                    <div class="banner-container">
                        <div class="banner-wrap">
                            <section class="banner-item-list">
                                <div class="banner-item-wrap">
                                    <div class="banner-group">
                                        <div class="banner-slide">
                                            <img th:src="@{${banners[4].url}}" alt="">
                                            <div th:each="banner : ${banners}">
                                                <div>
                                                    <img th:src="@{${banner.url}}" alt="">
                                                </div>
                                            </div>
                                            <img th:src="@{${banners[0].url}}" alt="">
                                        </div>
                                    </div>
                                    <div class="banner-arrow-wrap">
                                        <div class="left-arrow-wrap arrow-wrap arrow">
                                            <button class="left-btn arrow-btn left">
                                                <span></span>
                                            </button>
                                        </div>
                                        <div class="right-arrow-wrap arrow-wrap arrow">
                                            <button class="right-btn arrow-btn right">
                                                <span></span>
                                            </button>
                                        </div>
                                        <span class="banner-page">
                                            <span class="banner-count" th:text="${'1 / ' + banners.size()}">

                                                1 / 5
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                    <!-- 배너 종료 부분 -->
                    <!-- 추천 크루 시작 부분 -->
<!--                    <div class="crew-container">-->
<!--                        <div class="crew-header">-->
<!--                            <div class="crew-title">-->
<!--                                <a href="/crews">-->
<!--                                    <div class="crew-sub-title">-->
<!--                                        <strong>이런 크루 찾고 있나요?</strong>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <div class="crew-description">-->
<!--                                    <span>취향이 맞는 크루를 찾아보세요!</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="crew-more-btn">-->
<!--                                <button class="more btn" type="button" onclick="location.href='/crews'">-->
<!--                                    더보기-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- 크루 리스트 시작 부분 -->
<!--                        <div class="crew-list-container">-->
<!--                            <div class="crew-list-wrap">-->
<!--                                <div class="crew-list-group">-->
<!--                                    <ul class="crew-items">-->
<!--                                        &lt;!&ndash; 써야하는 부분 &ndash;&gt;-->
<!--                                         <li class="crew-item-card" th:each="crew : ${crews}">-->
<!--                                            <div class="crew-item-wrap">-->
<!--                                                <div class="crew-img-wrap">-->
<!--                                                    <img-->
<!--                                                    th:src="@{${crew.filePath}}" alt="crew"-->
<!--                                                    >-->
<!--                                                    <span class="crew-top-text" th:text="${'크루인원' + crew.crewMemberCount}"></span>-->
<!--                                                    <div class="crew-short-description crew-info-cnt-wrap">-->


<!--                                                    </div>-->
<!--                                                    <div class="crew-short-description" th:text="${crew.crewDescription}">-->
<!--                                                        <span>같이 즐기고, 같이 성장하는 우리 크루를 소개합니다!</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="crew-profile-wrap">-->
<!--                                                        <div class="crew-detail-text-wrap">-->
<!--                                                            <div class="crew-profile-block">-->
<!--                                                                <img th:src="${crew.socialImgUrl}" src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-311723141476416.jpg?w=72" alt="">-->
<!--                                                            </div>-->
<!--                                                            <span class="crew-name" th:text="${crew.crewName}">-->
<!--                                                                크루 이름-->
<!--                                                            </span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="" class="crew-detail-a"></a>-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; 써야하는 부분 &ndash;&gt;-->

<!--                                        <li class="crew-item-card">-->
<!--                                            <a class="crew-item-last">-->
<!--                                                <div class="crew-list-mv-btn">-->
<!--                                                    <span></span>-->
<!--                                                </div>-->
<!--                                                <div>더보기</div>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="crew-arrow-btn-wrap-left">-->
<!--                                    <button class="arrow-btn">-->
<!--                                        <span class="crew-left"></span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="crew-arrow-btn-wrap-right">-->
<!--                                    <button class="arrow-btn">-->
<!--                                        <span class="crew-right"></span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- 크루 리스트 종류 부분 -->
                    <!-- 추천 크루 종료 부분 -->

                    <!-- 다이어리 시작 부분 -->
                    <div class="diary-container">
                        <div class="diary-header">
                            <div class="diary-title-wrap">
                                <a href="/diaries">
                                    <div class="diary-title">
                                        <strong>오늘의 추천 다이어리 구경해보세요🧐</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="diary-more-btn">
                                <button type="button" class="more btn" onclick="location.href='/diaries'">
                                    더보기
                                </button>
                            </div>
                        </div>
                        <div class="diary-card-feed">

                            <div class="card-feed-item-wrap" th:each="diary : ${diaries}">
                                <article class="card-collection-item" >
                                    <div class="card-writer" >
                                        <div class="card-item-writer-content">
                                            <div class="card-item-writer-header">
                                                    <a class="card-writer-link">
                                                        <th:block th:if="${diary.memberFilePath != null}">
                                                            <img class="card-writer-img" th:src="@{${diary.memberFilePath}}">
                                                        </th:block>
                                                        <th:block th:if="${diary.memberFilePath == null and diary.socialImgUrl !=null}">
                                                            <img class="card-writer-img" th:src="@{${diary.socialImgUrl}}">
                                                        </th:block>
                                                        <th:block th:if="${diary.memberFilePath == null and diary.socialImgUrl ==null}">
                                                            <img class="card-writer-img" src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/default_images/avatar.png?w=144&h=144&c=c">
                                                        </th:block>

                                                        <div class="writer-info">
                                                            <span class="writer-name" th:text="${diary.memberName}" ></span>
                                                        </div>
                                                        <p class="card-item-writer-introduction" th:text="${diary.memberDescription}" ></p>
                                                    </a>

                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-collection-item-content">
                                        <div class="card-collection-item-img">
                                            <div class="card-item-img">
                                                <img th:src="@{${diary.diaryFilePath}}" alt="" class="image">

                                                <div class="diary-img-count" th:text="${'+' + diary.fileCount}">+</div>
                                                <a class="card-content-link" th:href="@{/diaries/detail/{postId}(postId=${diary.postId})}"></a>
                                            </div>
                                        </div>
                                        <a class="card-content-link" href=""></a>
                                        <div class="card-item-description">
                                            <div class="card-item-description-content">
                                                <span class="card-item-detail-content" th:text="${diary.postContent}">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="card-item-action-list">
                                            <button class="card-item-action-btn like"
                                                    th:attr="data-diary-id=${diary.postId}">
                                                <svg class="icon icon--stroke" th:classappend="${diary.check} ? ' active' : ''"  aria-label="좋아요" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path></svg>
                                                <span class="count" th:text="${diary.diaryLikeCount}"></span>
                                            </button>
                                            <button class="card-item-action-btn reply">
                                                <svg class="icon icon-stroke" aria-label="댓글 달기" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path></svg>
                                                <span class="count" th:text="${diary.diaryReplyCount}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </article>
                            </div>



                        </div>

                    <hr class="horizon">
                    </div>
                    <!-- 다이어리 종료 부분 -->

                    <!-- 여행 동행 시작 부분 -->
<!--                    <div class="together-container">-->
<!--                        <div class="together-header">-->
<!--                            <div class="together-title-wrap">-->
<!--                                <a>-->
<!--                                    <div class="together-title">-->
<!--                                        <strong>여행 같이갈래요?😊</strong>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <div class="together-description">-->
<!--                                    <span>마음에 맞는 사람과 여행을 같이 가보세요!</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="together-more-btn">-->
<!--                                <button class="more btn">-->
<!--                                    더보기-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <div class="together-list-container">-->

<!--                                <div class="together-item-wrap" th:each="accompany : ${accompanies}">-->

<!--                                    <div class="together-img-wrap">-->
<!--                                        <div class="together-text-wrap">-->
<!--                                        <p th:text="${accompany.postTitle}">낯선 곳에서 익숙함을 찾다</p>-->
<!--                                    </div>-->
<!--                                        <div class="together-category"-->
<!--                                             th:text="${accompany.accompanyStatus == 'short' ? '숏크루' : '롱크루'}">-->

<!--                                        </div>-->
<!--                                        <img th:src="@{${accompany.filePath}}" src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/projects/cover_images/170391967052616401.jpeg?w=360&h=240&c=c" alt="" srcset="">-->
<!--                                        <div class="together-profile-wrap">-->
<!--                                                        <div class="together-detail-text-wrap">-->
<!--                                                            <div class="together-profile-block">-->
<!--                                                                <img th:src="@{${accompany.socialImgUrl}}" src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-311723141476416.jpg?w=72" alt="">-->
<!--                                                            </div>-->
<!--                                                            <span class="together-name" th:text="${accompany.crewName}">-->
<!--                                                                크루 이름-->
<!--                                                            </span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                    </div>-->
<!--                                    <div class="together-date">-->
<!--                                            <span th:text="${accompany.countryStartDate}" >25.08.15</span>-->
<!--                                            <span th:text="${accompany.countryEndDate}" >25.08.19</span>-->
<!--                                    </div>-->
<!--                                    <div class="trip-path-wrap">-->
<!--                                        <div class="trip-path">-->
<!--                                            <div class="marker-circle last"></div>-->
<!--                                            <div class="marker">-->
<!--                                                <div class="marker-circle first"></div>-->
<!--                                                <div class="marker-country" th:text="${accompany.countryName}">프랑스</div>-->
<!--                                            </div>-->
<!--                                            <div class="marker">-->
<!--                                                <div class="marker-circle"></div>-->
<!--                                                <div class="marker-country" th:text="${accompany.countryName}">캄보디아</div>-->
<!--                                            </div>-->
<!--                                            <div class="marker">-->
<!--                                                <div class="marker-circle"></div>-->
<!--                                                <div class="marker-country" th:text="${accompany.countryName}">오스트레일리아</div>-->
<!--                                            </div>-->
<!--                                            <div class="marker">-->
<!--                                                <div class="marker-circle"></div>-->
<!--                                                <div class="marker-country" th:text="${accompany.countryName}">뉴욕</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->


<!--                                    <a href="" class="together-a"></a>-->
<!--                                </div>-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- 여행 동행 종료 부분 -->
                    <!-- 기프트 시작 부분 -->
                    <div class="gift-container">
                        <div class="gift-header">
                            <div class="gift-title-wrap">
                                <a href="/gifts">
                                    <div class="gift-title">
                                        <strong>크루 스테이션 기프트🎁</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="gift-more-btn">
                                <button type="button" class="more btn" onclick="location.href='/gifts'">
                                    더보기
                                </button>
                            </div>
                        </div>
                        <div class="gift-list-container">
                            <div class="gift-list-wrap">
                                <ul class="gift-list">
                                    <li class="gift-item-wrap" th:each="gift : ${gifts}">
                                        <article class="today-gift-item">
                                            <a href="/gifts" class="today-gift-item-overlay"></a>
                                            <div class="today-gift-item-img">
                                                <div class="gift-limit-time"
                                                     th:attr="data-endtime=${gift.limitDateTime}"
                                                     th:text="${gift.purchaseLimitTime + '남음'}">
                                                </div>
                                                <div class="gift-item-img">
                                                    <a href="/gifts/detail/{id}" class="today-gift-item-overlay"></a>
                                                    <img th:src="@{${gift.filePath}}" src="https://prs.ohousecdn.com/apne2/any/uploads/productions/v1-413232022855744.jpg?w=640&h=640&c=c&q=0.8&webp=1" alt="">
                                                    <div class="gift-item-image-dark-overlay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="today-gift-item-content">
                                                <div class="gift-text-wrap">
<!--                                                    판매자-->
                                                    <div class="gift-writer-img-wrap">
                                                        <div class="gift-detail-text-wrap">
                                                            <div class="gift-profile-block">
                                                                <th:block th:if="${gift.memberFilePath != null}">
                                                                    <img th:src="@{${gift.memberFilePath}}">
                                                                </th:block>
                                                                <th:block th:if="${gift.memberFilePath == null and gift.socialImgUrl !=null}">
                                                                    <img th:src="@{${gift.socialImgUrl}}">
                                                                </th:block>
                                                                <th:block th:if="${gift.memberFilePath == null and gift.socialImgUrl ==null}">
                                                                    <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/default_images/avatar.png?w=144&h=144&c=c">
                                                                </th:block>
                                                            </div>
                                                            <span class="gift-name" th:text="${gift.memberName}">
                                                                판매자 이름
                                                            </span>
                                                            <div class="gift-name chemistry-pt">
<!--                                                                <span>70케미지수</span>-->
                                                                <div class="chemistry-div">
                                                                <img class= "product-detail-header-manner-img" src="/images/manner.png" width="14" height="14">
                                                                <a href="/gifts" class="product-detail-header-manner" th:text="${gift.chemistryScore + '케미지수'}">80케미지수</a>
                                                                <svg class="product-detail-information-icon" width="14" height="14" viewBox="0 0 18 18" fill="none" preserveAspectRatio="xMidYMid meet"><path d="M9 15.2C5.57583 15.2 2.8 12.4242 2.8 9C2.8 5.57583 5.57583 2.8 9 2.8C12.4242 2.8 15.2 5.57583 15.2 9C15.2 12.4242 12.4242 15.2 9 15.2ZM9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z" fill="#828C94"></path><path d="M8.35 6.375V5.25H9.65V6.375H8.35Z" fill="#828C94"></path><path d="M8.35 12.75V7.125H9.65V12.75H8.35Z" fill="#828C94"></path></svg>
                                                                <div class="prduct-info-wrap">
                                                                    <strong>케미지수란?</strong>
                                                                    <p>케미지수는 판매자의 ‘거래 신뢰도’와
                                                                        <br> ‘판매 경험’을 합쳐서 만든 점수예요.
                                                                        <br>숫자가 높을수록 안심하고 거래할 수 있는 판매자라는 뜻이에요.
                                                                    </p>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gift-date">
                                                            <span class="gift-create-date"
                                                                  th:text="${gift.relativeDate}">
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <p th:text="${gift.postTitle}">낯선 곳에서 익숙함을 찾다</p>
                                                    <div class="gift-price-wrap">
                                                    <span class="gift-price">
                                                        <span th:text="${gift.purchaseProductPrice + ' 원'}">10000 원</span>
                                                        <span class="gift-count" th:text="${gift.purchaseProductCount + '개 남음'}">5개 남음</span>
                                                    </span>
                                                    <div>
                                                        <div class="gift-tag badge-list-container delivery-method">
                                                            <span class="gift-create-date"
                                                                  th:text="${gift.purchaseDeliveryMethod == 'direct' ? '직접전달' : '택배거래'}">
                                                            </span>

                                                        </div>
                                                        <div class="gift-tag badge-list-container">
                                                            <span class="gift-create-date" th:text="${gift.purchaseCountry}">
                                                                호주
                                                            </span>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="gift-date">

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 기프트 종료 부분 -->
                </main>
                <div class="toast">
        <div class="toast-wrap">
            <p class="toast-text"></p>
        </div>
    </div>
            </div>

        </div>
    </div>
<footer th:replace="~{fixed/web/footer :: footer}"></footer>

</body>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/js/main-page/main/module/service.js"></script>
<script src="/js/main-page/main/event.js"></script>
</html>