<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="icon" type="image/png" href="/images/crew-station-favicon.png">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/gift-shop/list.css">
    <link rel="stylesheet" href="/css/fixed/mobile/header.css">
    <link rel="stylesheet" href="/css/fixed/mobile/footer.css">
    <link rel="stylesheet" href="/css/gift-shop/detail.css">
</head>

<body id="giftDetail">
<header th:replace="~{fixed/mobile/header.html :: header}"></header>
<div class="product-detail-container product-list-wrapper" >
    <div class="product-detail-overview">
        <div class="product-detail-overview-row" th:attr="data-post=${purchase.postId}" id="postId">
            <div class="cover-image-wrap">
                <div class="cover-image-container">
                    <div class="carousel-wrap">
                        <div class="carousel-list">
                            <!-- 대표 이미지 -->
                            <th:block th:if="${purchase.sections.size() > 1}">
                                <div class="carousel-list-entry">
                                    <img class="carousel-list-entry-image"
                                         th:src="@{${purchase.sections[purchase.sections.size()-1].filePath}}"
                                         alt="대표 이미지">
                                </div>
                                <div class="carousel-list-entry" th:each=" section :${purchase.sections}">
                                    <img class="carousel-list-entry-image"
                                         th:src="@{${section.filePath}}"
                                         alt="대표 이미지1">
                                </div>
                                <div class="carousel-list-entry">
                                    <img class="carousel-list-entry-image"
                                         th:src="@{${purchase.sections[0].filePath}}"
                                         alt="대표 이미지">
                                </div>
                            </th:block>
                            <th:block th:unless="${purchase.sections.size() > 1}">
                                <div class="carousel-list-entry">
                                    <img class="carousel-list-entry-image one-image"
                                         th:src="@{${purchase.sections[0].filePath}}"
                                         alt="대표 이미지">
                                </div>
                            </th:block>

                        </div>

                        <!-- 페이지네이터 -->
                        <div class="carousel-paginator">
                            <ul class="carousel-paginator-list">
                                <li th:each=" section,index :${purchase.sections}">
                                    <span th:class="${index == 0} ? 'carousel-paginator-page selected' : 'carousel-paginator-page'"
                                          th:attr="data-key=${index}"></span>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

                <!-- 썸네일 이미지 버튼 반복(클릭시 대표이미지 전환) -->
                <ul class="product-cover-image-list">
                    <li class="product-cover-image-item" th:each=" section,index :${purchase.sections}">
                        <button class="product-cover-image-list-btn" type="button">
                            <img class="image" th:src="@{${section.filePath}}" alt="상품의 대표 이미지">
                        </button>
                    </li>
                </ul>
                <!-- /썸네일 이미지 버튼 반복 -->

            </div>
        </div>
        <div class="product-limit-timer-mobile">
            <div class="product-limit-timer">
                                    <span class="product-limit-timer-title">
                                        <svg class="product-limit-timer-time-icon" width="15" height="15"
                                             preserveAspectRatio="xMidYMid meet"><path fill="#f9e4e4"
                                                                                       d="M13.125 7.5a5.625 5.625 0 10-11.25 0 5.625 5.625 0 0011.25 0zM7.5 0a7.5 7.5 0 110 15 7.5 7.5 0 010-15zm.759 3.75H6.562v4.589l3.326 2.035.805-1.45-2.434-1.5V3.75z"></path></svg>
                                    </span>
                <div class="product-limit-timer-time" th:attr="data-endtime=${purchase.limitDateTime}">
                    마감
                </div>
            </div>
        </div>
    </div>
    <div class="product-detail-overview-content">
        <div class="product-detail-header">
            <div class="product-detail-header-title-seller-name-wrap">
                <a class="product-detail-header-title-seller-name" th:text="${purchase.memberName}"></a>

                <span class="manner-wrap">
                                        <img class="product-detail-header-manner-img" src="/images/manner.png"
                                             width="14" height="14">
                                        <a class="product-detail-header-manner"
                                           th:text="${purchase.chemistryScore + '케미지수'}"></a>

                    <!-- i 아이콘 버튼 -->
                                    <button class="openChemistryInfo"
                                            style="border: none; background: none; cursor: pointer;">
                                        <svg class="product-detail-information-icon" width="14" height="14"
                                             viewBox="0 0 18 18">
                                        <path d="M9 15.2C5.57583 15.2 2.8 12.4242 2.8 9C2.8 5.57583 5.57583 2.8 9 2.8C12.4242 2.8 15.2 5.57583 15.2 9C15.2 12.4242 12.4242 15.2 9 15.2ZM9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z"
                                              fill="#828C94"></path>
                                        <path d="M8.35 6.375V5.25H9.65V6.375H8.35Z" fill="#828C94"></path>
                                        <path d="M8.35 12.75V7.125H9.65V12.75H8.35Z" fill="#828C94"></path>
                                        </svg>
                                    </button>

                    <!-- 툴팁 -->
                                    <div class="chemistryTooltip tooltip-box">
                                        <strong>케미지수란?</strong>
                                        <p>
                                        케미지수는 판매자의 ‘거래 신뢰도’와 ‘판매 경험’을 합쳐서 만든 점수예요.<br>
                                        숫자가 높을수록 안심하고 거래할 수 <br>
                                        있는 판매자라는 뜻이에요.
                                        </p>
                                    </div>
                                    </span>

                <!-- 뱃지 -->
                <span class="badge-list-container" th:text="${purchase.purchaseCountry}"></span>
            </div>

            <!-- 상품 제목 -->
            <div class="product-detail-header-title-name-wrap">
                                        <span class="product-detail-header-title-name" th:text="${purchase.postTitle}">

                                        </span>
                <div class="product-detail-header-share-btn-wrapper">
                    <button class="product-detail-header-share-btn">
                        <svg class="icon" aria-label="공유하기" width="24" height="24" viewBox="0 0 24 24" fill="#424242"
                             preserveAspectRatio="xMidYMid meet">
                            <path d="M9.64 14.646a4.5 4.5 0 1 1 0-5.292l4.54-2.476a4.5 4.5 0 1 1 .63.795l-4.675 2.55c.235.545.365 1.146.365 1.777s-.13 1.232-.365 1.777l4.675 2.55a4.5 4.5 0 1 1-.63.795l-4.54-2.476zM18 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM6 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM18 23a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            </h1>
            <div class="product-detail-header-content">
                <div class="product-detail-header-info">
                    <div class="product-stock-wrapper">
                        <span class="product-stock" th:text="${purchase.purchaseProductCount + '개 남음'}"></span>
                    </div>
                    <div class="product-price-container">
                        <div class="product-price-wrapper">
                                                <span class="product-price"
                                                      th:text="${purchase.price + ' 원'}">
                                                    19,000 원
                                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-shipping-wrap">
                <div class="product-shipping-container">
                    <span class="product-shipping-label">전달방식</span>
                    <div class="product-shipping-info-wrapper">
                        <span class="product-shipping-info-title"
                              th:text="${purchase.purchaseDeliveryMethod == 'direct' ? '직접 전달' : '택배 거래'}"></span>
                        <span class="product-shipping-info-content" th:text="${purchase.address}"></span>
                    </div>
                    <div class="gift-shop-post-report-btn-wrapper">
                        <button class="gift-shop-post-report-btn">신고하기</button>
                    </div>
                </div>
            </div>

            <div class="product-seller-info-container">
                <a class="product-seller-info-wrapper" th:href="@{/member/profile/{id}(id=${purchase.memberId})}">
                    <div class="product-seller-profile">
                        <th:block th:if="${purchase.filePath != null}">
                            <img class="product-seller-profile-img" th:src="@{${purchase.filePath}}">
                        </th:block>
                        <th:block th:if="${purchase.filePath == null and purchase.socialImgUrl !=null}">
                            <img class="product-seller-profile-img" th:src="@{${purchase.socialImgUrl}}">
                        </th:block>
                        <th:block th:if="${purchase.filePath == null and purchase.socialImgUrl ==null}">
                            <img class="product-seller-profile-img" src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/default_images/avatar.png?w=144&h=144&c=c">
                        </th:block>

                    </div>
                    <span class="product-seller-name" th:text="${purchase.memberName}"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" fill="#2F3438" viewBox="0 0 12 12"
                         class="product-seller-arrow-icon">
                        <path fill-rule="evenodd"
                              d="M3.551 1.151a.6.6 0 0 0 .05.847l4.496 3.996L3.6 9.99a.6.6 0 0 0 .798.897l4.58-4.07a1.1 1.1 0 0 0 0-1.645l-4.58-4.07a.6.6 0 0 0-.848.05"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
                <div class="modify-wrap" th:if="${writer}">
                    <img src="/images/morebtn.png" alt="">
                    <div class="modify-container">
                        <div> <a th:href="@{/gifts/{id}(id=${purchase.postId})}">수정</a></div>
                        <div class="del-post"> <a>삭제</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-selling-detail-wrap container">
            <div class="product-selling-detail-row">
                <div class="product-selling-detail-content col-12 coo-lg-8">
                    <div class="product-selling-content">
                        <section class="product-selling-section">
                            <div class="product-selling-description">
                                <img class="product-selling-description-notice-image" src="/images/notice.png">
                                <div class="product-selling-description-content">
                                    <th:block th:each="section : ${purchase.sections}">
                                        <img class="product-selling-description-fixed-image"
                                             th:src="@{${section.filePath}}" alt="상품 상세 이미지">
                                    </th:block>
                                    <span th:text="${purchase.sections[0].postContent}"></span>
                                </div>
                            </div>
                        </section>
                        <button type="button" class="scroll-top-button-container" id="scrollTopBtn">
                        <span class="scroll-top-button-wrapper">
                            <span class="scroll-top-button">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 19V5M5 12l7-7 7 7"
                                          stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </span>
                        </button>
                    </div>
                    <div class="product-selling-floating-wrap"
                         style="position: sticky; bottom: 100px; transition: bottom 0.1s;">
                        <div class="product-selling-floating">
                            <div class="product-selling-floating-content">
                                <button id="openBuyingModalBtn" class="product-buying-btn">구매 요청하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- 구매 요청 모달 -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>필수정보 입력</h2>

                            <!-- form 시작 -->
                            <form id="requestForm" name="requestForm">
                                <!-- 배송지 입력 -->
                                <div class="form-group">
                                    <label for="addressInput">도로명 주소<span class="required-dot">*</span></label>
                                    <input type="text" name="addressInput" id="addressInput" style="padding-right: 45px;" readonly>
                                    <button type="button" class="search-btn" id="searchAddressBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M10,2A8,8,0,1,0,18,10a8,8,0,0,0-8-8Zm0,14A6,6,0,1,1,16,10,6,6,0,0,1,10,16Z"/>
                                            <path d="M21.71,20.29l-4-4a1,1,0,0,0-1.42,1.42l4,4a1,1,0,0,0,1.42-1.42Z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label for="zipCode">우편번호 <span class="required-dot">*</span></label>
                                    <input type="text" name="zipCode" id="zipCode" inputmode="numeric" pattern="[0-9]*" maxlength="5" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="detailAddress">상세주소<span class="required-dot">*</span></label>
                                    <input type="text" id="detailAddress" name="addressDetail">
                                </div>


                                <div class="form-group">
                                    <label for="phone">핸드폰 번호 (숫자만 입력하세요.) <span class="required-dot">*</span></label>
                                    <input
                                            type="tel"
                                            id="phone"
                                            name="phone"
                                            inputmode="numeric"
                                            pattern="[0-9]*"
                                            maxlength="11">
                                </div>

                                <button type="submit" class="product-buying-btn">요청하기</button>
                            </form>
                        </div>
                    </div>

                    <div id="confirmModal" class="modal">
                        <div class="modal-content">
                            <h3 style="font-size: 25px">구매 요청 확인</h3>
                            <p style="margin-top: 12px; font-size: 20px;line-height: normal;">
                                입력하신 정보로 판매자에게<br>요청 수락 알림이 전송됩니다.<br>정말로 요청하시겠습니까?
                            </p>
                            <div style="margin-top: 20px; display: flex; gap: 10px; justify-content: center;">
                                <button type="submit" id="confirmYes" class="confirm-btn yes" form="requestForm">확인
                                </button>
                                <button id="confirmNo" class="confirm-btn no">취소</button>
                            </div>
                        </div>
                    </div>

                    <!-- 신고하기 모달 -->
                    <div class="report-modal" id="reportModal">
                        <input type="hidden" id="memberId"/>
                        <div class="modal-container-report">
                            <div class="modal-header">
                                <span class="modal-title">신고 사유를 선택해주세요</span>
                                <button class="close-button">
                                    <span class="close-button-span"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="report-content-container">
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button active">
                                                <input type="radio" name="reason" class="radio" checked value="주제에 맞지 않아요">
                                            </div>
                                            <span class="content">주제에 맞지 않아요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="가짜/불법 상품이에요">
                                            </div>
                                            <span class="content">가짜/불법 상품이에요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="허위 정보가 있어요">
                                            </div>
                                            <span class="content">허위 정보가 있어요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="욕설·비방이 포함돼요">
                                            </div>
                                            <span class="content">욕설·비방이 포함돼요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="이 글로 도배가 돼있어요">
                                            </div>
                                            <span class="content">이 글로 도배가 돼있어요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="사기 거래가 의심돼요">
                                            </div>
                                            <span class="content">사기 거래가 의심돼요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="금지된 품목이에요">
                                            </div>
                                            <span class="content">금지된 품목이에요</span>
                                        </label>
                                    </li>
                                    <li class="report-content">
                                        <label class="content-label">
                                            <div class="radio-button">
                                                <input type="radio" name="reason" class="radio" value="개인정보를 노출하고 있어요">
                                            </div>
                                            <span class="content">개인정보를 노출하고 있어요</span>
                                        </label>
                                    </li>
                                    <!-- /신고 사유 -->
                                </ul>
                            </div>
                            <div class="modal-button">
                                <div class="modal-button-wrap">
                                    <button type="button" class="report-button-send" id="reportBtn">신고하기</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="confirmReportModal" class="modal">
                        <div class="modal-content">
                            <h3 style="font-size: 25px;">신고 요청 확인</h3>
                            <p style="margin-top: 12px; font-size: 20px">
                                정말 신고하시겠습니까?
                            </p>
                            <div style="margin-top: 10px; display: flex; gap: 10px; justify-content: center;">
                                <button type="button" id="confirmReportYes" class="confirm-btn yes">확인
                                </button>
                                <button id="confirmReportNo" class="confirm-btn no">취소</button>
                            </div>
                        </div>
                    </div>

                    <div id="delconfirmModal" class="modal">
                        <div class="modal-content">
                            <p style="margin-top: 12px; font-size: 20px">
                                정말 삭제하시겠습니까?
                            </p>
                            <div style="margin-top: 10px; display: flex; gap: 10px; justify-content: center;">
                                <a class="confirm-btn yes" th:href="@{/gifts/delete/{id}(id=${purchase.postId})}">확인
                                </a>
                                <button id="cancelDel" class="confirm-btn no">취소</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="toast hide" style="display: none;">
    <div class="toast-wrap">
        <p class="toast-text">클립보드에 복사되었습니다.</p>
    </div>
</div>
<footer th:replace="~{fixed/mobile/footer.html :: footer}"></footer>
</body>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/gift-shop/detail/module/service.js"></script>
<script src="/js/gift-shop/detail/module/layout.js"></script>
<script src="/js/gift-shop/detail/event.js"></script>
<script src="/js/fixed/mobile/footer/event.js"></script>
<script src="/js/fixed/mobile/header/module/service.js"></script>
<script src="/js/fixed/mobile/header/event.js"></script>
</html>