<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/mypage/my-crew/list.css">
    <link rel="stylesheet" href="/css/fixed/web/header.css">
    <link rel="stylesheet" href="/css/fixed/web/footer.css">
</head>
<body>
<header th:replace="~{fixed/web/header :: header}"></header>

    <div class="page">
        <div class="page-container">
            <div class="layout">
                <div class="myhome-nav">
                    <nav class="page-navigation">
                        <ul>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 다이어리
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 크루 구하기
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="" class="active">
                                    나의 크루 목록
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 활동
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 구매 내역
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 판매 내역
                                </a>
                            </li>
                            <li class="page-navigation__item">
                                <a href="">
                                    나의 문의
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <main class="main">
            <div class="header">
                <div class="title">
                    <p class="title-p">나의 크루</p>
                </div>
                <div class="profile-wrap">
                    <a href="">
                        <img class="profile-img" src="/static/images/crew-station-icon-profile.png">
                        <span class="profile-name">CREW_STATION</span>
                    </a>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-wrap">
                        <nav>
                            <button class="nav-button active">
                                <div class="p-wrap">
                                    <p class="tag-name">전체(42)</p>
                                </div>
                            </button>
                            <button class="nav-button">
                                <div class="p-wrap">
                                    <p class="tag-name">롱크루(26)</p>
                                </div>
                            </button>
                            <button class="nav-button">
                                <div class="p-wrap">
                                    <p class="tag-name">숏크루(16)</p>
                                </div>
                            </button>
                        </nav>
                        <hr class="nav-hr">
                    </div>
                </div>
            </div>
                <!-- 서브 헤더 -->
                <div class="post-wrapper">
                    <div class="total-post">
                        전체
                        234
                    </div>
                    <!-- 크루 목록 -->
                    <div class="post-list-container" style="padding-top: 0px; padding-bottom: 24912px; transform: translateY(0px);">
                        <!-- 크루 리스트 시작 -->
                         <!-- 무한 스크롤 -->
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="~{fixed/web/footer :: footer}"></footer>

</body>
<script src="/js/fixed/web/header/module/service.js"></script>
<script src="/js/fixed/web/header/event.js"></script>
<script src="/static/js/mypage/my-crew/list/event.js"></script>
</html>