<div th:fragment="member-page" id="section-member">
    <div class="page ana-user-index wide-page">
        <div class="page-header">
            <div class="page-title">회원 관리</div>
            <div class="page-subtitle"></div>
        </div>

        <div class="page-body">
            <div class="page-content">
                <div class="table-layout white-panel">
                    <!-- 필터 영역 -->
                    <div class="filter-section">
                        <div class="row">
                            <div class="col-auto">
                <span class="member-count">총
                  <span class="count-amount" id="memberCount">0</span>명
                </span>
                            </div>

                            <div class="col-auto ml-auto">
                                <div class="filter-wrapper filter-search ml-1">
                                    <div class="input-group">
                                        <input id="memberKeyword" class="form-control flex-grow-1" type="text" placeholder="이름/ID"/>
                                        <div class="input-group-append">
                                            <button id="memberKeywordBtn" class="btn btn-search">
                        <span class="comp-icon icon-magnify">
                          <i class="mdi mdi-magnify"></i>
                        </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 테이블 -->
                    <div class="fill-table-layout">
                        <table class="table grey-header-table w-100 member-table">
                            <thead>
                            <tr>
                                <th class="td-name">회원</th>
                                <th class="td-amount text-right pr-4">이름</th>
                                <th class="td-email">이메일</th>
                                <th class="td-phone">전화번호</th>
                                <th class="td-start">가입일</th>
                                <th class="td-recent">최근 접속</th>
                                <th class="td-action">상세</th>
                            </tr>
                            </thead>
                            <tbody id="membersTbody">
                            <tr><td colspan="7" class="text-center text-muted">불러오는 중</td></tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 페이지네이션 -->
                    <nav class="bootpay-pagination-wrapper mt-5 mb-4">
                        <ul class="pagination bootpay-pagination" id="memberPagination"></ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- 회원 상세 모달 -->
        <div class="modal fade member-modal" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <span id="memberModalTitle"></span>
                        </div>
                        <button class="close"><i class="mdi mdi-close"></i></button>
                    </div>

                    <div class="modal-body">
                        <div class="divider">
                            <div class="tab-view">
                                <div class="tab-view-body">
                                    <div class="tab-inner tab-detail">
                                        <!-- 회원 상세정보 -->
                                        <div class="info-layout detail-info">
                                            <div class="info-title d-flex justify-content-between">
                                                <div class="title">회원 상세정보</div>
                                            </div>
                                            <div class="d-table w-100">
                                                <div class="d-table-cell">
                                                    <table class="info-table">
                                                        <tbody>
                                                        <tr><th>이름</th><td><span id="memberDetailName"></span></td></tr>
                                                        <tr><th>핸드폰 번호</th><td><span id="memberDetailPhone"></span></td></tr>
                                                        <tr><th>MBTI</th><td><span id="memberDetailMbti"></span></td></tr>
                                                        <tr><th>생년월일</th><td><span id="memberDetailBirth"></span></td></tr>
                                                        <tr><th>가입일</th><td><span id="memberDetailCreatedDatetime"></span></td></tr>
                                                        <tr><th>제공자</th><td><span id="memberDetailProvider"></span></td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="d-table-cell">
                                                    <table class="info-table">
                                                        <tbody>
                                                        <tr><th>회원ID</th><td><span id="memberDetailId"></span></td></tr>
                                                        <tr><th>이메일</th><td><span id="memberDetailEmail"></span></td></tr>
                                                        <tr><th>최근 접속</th><td><span id="memberDetailRecent"></span></td></tr>
                                                        <tr><th>성별</th><td><span id="memberDetailGender"></span></td></tr>
                                                        <tr><th>권한</th><td><span id="memberDetailRole"></span></td></tr>
                                                        <tr><th>상태</th><td><span id="memberDetailStatus"></span></td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 회원 게시글 -->
<!--                                        <div class="info-layout detail-info">-->
<!--                                            <div class="info-title d-flex justify-content-between">-->
<!--                                                <a href="#" class="info-detail">-->
<!--                                                    <div class="title">작성 게시글 <i class="mdi mdi-menu-left ml-2"></i></div>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <table class="info-table">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th>게시글 제목</th>-->
<!--                                                    <th>게시글 내용</th>-->
<!--                                                    <th>작성 일자</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody id="memberPostTbody"></tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->

<!--                                        &lt;!&ndash; 회원 댓글 &ndash;&gt;-->
<!--                                        <div class="info-layout detail-info">-->
<!--                                            <div class="info-title d-flex justify-content-between">-->
<!--                                                <a href="#" class="info-detail">-->
<!--                                                    <div class="title">작성 댓글 <i class="mdi mdi-menu-left ml-2"></i></div>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <table class="info-table">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th>게시글 제목</th>-->
<!--                                                    <th>댓글 내용</th>-->
<!--                                                    <th>작성 일자</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody id="memberCommentTbody"></tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn-close btn btn-outline-filter">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



