<div  th:fragment="noticesDetail" style="display: none"
      class="page notice-show narrow-center wide-page"
      id="noticeDetail">
  <div class="page-header">
    <div class="page-title">공지사항 상세</div>
  </div>
  <div class="page-body white-panel p-5">
    <div class="page-content">
      <div class="notice-layout" style="width: 84%;">
        <div class="header">
          <div class="title" id="noticeDetailTitle">2025년 7월 1일 bootpay.co.kr 도메인 SSL 인증서 갱신 안내
          </div>
          <div class="row pt-2">
            <div class="col">
              <div class="writer small-grey">crewStation</div>
            </div>
            <div class="col-auto">
              <div class="date small-grey" id="noticeDetailDate">2025-06-26 17:51:31</div>
            </div>
          </div>
        </div>
        <!-- 공지사항 내용 -->
        <div class="body">
          <div class="content" id="noticeDetailContent">
          </div>
          <div id="noticeDetailImgWrap" style="display:flex; gap:10px">

          </div>
        </div>
      </div>
    </div>
    <div class="content-footer">
      <button class="btn btn-default mr-4" id="goNoticeList">돌아가기</button>
    </div>

  </div>
</div>