<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="shortcut icon" href="/static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/ask/ask.css">
</head>
<body>
    <div class="notice-list">
        <div class="myhome-nav">
            <div>
                <img class="gift-shop-write-header-icon" src="/static/images/crew-station-favicon.png">
            </div>
            <!-- 올리기 버튼 -->
            <div class="postbutton">
                    <button type="button" class="css-postup">
                        <span class="css-tygob0 emrmz0c1">올리기</span>
                    </button>
            </div>
        </div>
    </div>
    <div class="css-title1">
        <div class="css-title2">
            <div class="css-title3">
                <form action="/ask/register" method="post">
                    <input class="title-input" type="text" placeholder="제목을 입력해주세요." maxlength="60" value="">
                </form>
                <div class="indicator">0 /60
                </div>
            </div>
        </div>
    </div>
    <div class="post1">
        <div class="post2">
            <div class="post3">
                <div class="post4">
                    <textarea class="css-1iifh8u" placeholder="문의내용을 입력해주세요."></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/ask/event.js"></script>
</html>