<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.section.SectionMapper">
    <select id="selectSectionsByPostId">
        select post_content,
               post_id,
               file_id,
               tps.id as post_section_id,
               COALESCE(image_type, 'sub') as image_type,
               file_origin_name,
               file_path,
               file_name,
               file_size,
               created_datetime,
               updated_datetime
        from tbl_post_section tps
                 left join view_file_post_section_file vfpsf on tps.id = vfpsf.post_section_id
        where post_id = #{postId}

    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="postSectionId">
        insert into tbl_post_section(post_content, post_id)
        values (#{purchaseContent},#{postId})
    </insert>


    <insert id="insertDiary" useGeneratedKeys="true" keyProperty="postSectionId">
        insert into tbl_post_section(post_content, post_id)
        values (#{postContent},#{postId})
    </insert>
    <update id="update">
        update tbl_post_section
        set post_content = #{postContent}
        where id = #{id}
    </update>
    <delete id="delete">
        delete from tbl_post_section
        where id = #{id}
    </delete>

    <select id="selectSectionFileCount">
        select count(vfpf.id)
        from view_file_post_section_file vfpf
                 join tbl_post_section tps
                      on vfpf.post_section_id = tps.id and tps.post_id = #{postId}
    </select>
</mapper>